::-moz-selection { background: #dec36a; }
::selection { background: #dec36a; }

* { margin: 0; padding: 0; }
body { width: 100%; font-family: "Open Sans", 'Trebuchet MS', 'Courier Pro', 'Courier New', Arial, sans-serif; }
h1, h2 { font-family: "PT Sans","PT Sans Pro",'Courier Pro', 'Courier New', Arial, sans-serif; }
h1 { width: 100%; margin: 0 0 10px 0; padding: 10px; font-size: 26px; font-weight: bold; color: #aa6d22; }
h2 { padding: 5px 10px; font-size: 22px; font-weight: bold; font-style: italic; }
p { padding: 5px 10px 10px 10px; font-size: 18px; font-weight: lighter; }
#page-wrap { width: calc(80% - 120px); margin: 0px auto; padding: 60px; }

.lista { width: 80%; margin: 10px; }
.lista li { margin: 0 0 5px 0; font-size: 18px; font-weight: lighter; list-style-type: none; }
.lista li:before { content: "\f121"; left: -3px; font-family: FontAwesome; position: relative; }

blockquote { width: 70%; margin: 10px; }

code { padding: 0; font-size: 108%; font-style: normal; }
pre { width: 50%; margin: 10px auto; padding: 15px; font-size: 14px; color: #333; background-color: #eee; border: 1px solid #ddd; border-left-width: 5px; overflow-x: auto; }

.table { width: 100%!important; margin: 0!important; border-collapse: collapse; }
.table th { font-size: 14px!important; text-align: center; }
.table td { color: #000!important; text-align: center!important; vertical-align: middle!important; }

.novo td { background: #dec36a!important; }
.novo:hover td, 
.novo:hover td:first-child { background: #D9D9D9!important; color: #000!important; }
.novo td:first-child { background: #aa6d22!important; }

.descontinuado td { background: #d56868!important; }
.descontinuado:hover td, 
.descontinuado:hover td:first-child { background: #D9D9D9!important; color: #000!important; }
.descontinuado td:first-child { background: #cd2525!important; }

.obsoleto td { background: #625d5d!important; }
.obsoleto:hover td, 
.obsoleto:hover td:first-child { background: #D9D9D9!important; color: #000!important; }
.obsoleto td:first-child { background: #625d5d!important; }

.alert { width: calc(100% - 20px); margin: 10px 0; padding: 10px; position: relative; float: left; }
.container-table { width: 100%; margin: 10px 0; position: relative; float: left; }
.alert span { width: auto; height: 20px; margin: 0 10px 0 0; padding: 5px 10px; font-weight: bold; position: relative; float: left; }
.span-novo { color: #aa6d22; border: 1px solid #aa6d22; background: #dec36a; }
.span-descontinuado { color: #e2dada; border: 1px solid #e2dada; background: #d56868; }
.span-obsoleto { color: #D9D9D9; border: 1px solid #D9D9D9; background: #625d5d; }
        
.tablesorter-header.tablesorter-reorder-helper { cursor: move; }
.tablesorter-reorder-helper-bar { width: 1px; background: #000; }

@media only screen and (max-width: 992px), (min-device-width: 768px) and (max-device-width: 1024px), print {
    #page-wrap { width: calc(100% - 40px); margin: 5px auto; padding: 20px; }
    .alert span { width: 90%; margin: 5px 10px; text-align: center; }
    .alert span:first-child { text-align: left; }
    pre { width: 70%; }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { display: block; }
    .table { width: calc(100% - 20px)!important; margin: 10px!important; border: 0; }
	/* Hide table headers (but not display: none;, for accessibility) */
	.table thead tr { top: -9999px; left: -9999px; position: absolute; }
	.table tr { border: 1px solid #000!important; }
    .table tr:nth-of-type(odd) { background: #eee; }
	/* Behave  like a "row" */
    .table td { padding-left: 50%!important; border: none!important; border-bottom: 1px solid #000!important; position: relative; }
    /* Now like a table header --- Top/left values mimic padding */ 
	.table td:before { width: 45%; padding-right: 10px; top: 6px; left: 6px; white-space: nowrap; position: absolute; }
	.table td:first-child { padding-left: 0!important; font-weight: bold; text-align: center; color: #FFF!important; background: #625d5d; }

    .novo td:first-child { background: #aa6d22; }
    .descontinuado td:first-child { background: #cd2525; }
	/* Label the data */
	.table td:nth-of-type(1):before { content: ""; width: 0; }
	.table td:nth-of-type(2):before { content: "Resolution"; }
	.table td:nth-of-type(3):before { content: "Density"; }
	.table td:nth-of-type(4):before { content: "Screen Size"; }
	.table td:nth-of-type(5):before { content: "PPI"; }
	.table td:nth-of-type(6):before { content: "DPI"; }
	.table td:nth-of-type(7):before { content: "CSS Pixel Ratio"; }
	.table td:nth-of-type(8):before { content: "CSS Width"; }
	.table td:nth-of-type(9):before { content: "Aspect Ratio"; }
	.table td:nth-of-type(10):before { content: "Graphics Array"; }
	.table td:nth-of-type(11):before { content: "OS"; }
}
	
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width : 480px) {
	body { width: 100%; margin: 0; padding: 0; position: relative; }
    .table { border: 1px solid #000!important; }
    pre { width: calc(90% - 20px); }

    blockquote { width: calc(90% - 20px); margin: 10px; }
    cite { word-break: break-all; }
}
	
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { width: 100%; }
}


@media print {
    #page-wrap { width: calc(90% - 40px); margin: 25px auto; padding: 20px; }
    .table { width: 80%!important; margin: 45px auto 25px auto!important; border: 0; }
    .table tr, .table th { margin: 20px 0 0 0; border: 1px solid #000; }
}