::-moz-selection { background: #dec36a; }
::selection { background: #dec36a; }

* { margin: 0; padding: 0; }
body { width: 100%; font-family: "Open Sans", 'Trebuchet MS', 'Courier Pro', 'Courier New', Arial, sans-serif; font-size: 10px; }
h1, h2 { font-family: "PT Sans","PT Sans Pro",'Courier Pro', 'Courier New', Arial, sans-serif; }
h1 { width: calc(100% - 20px); margin: 0 0 10px 0; padding: 10px; font-size: 2rem; font-weight: bold; color: #aa6d22; }
h2 { padding: 5px 10px; font-size: 1.6rem; font-weight: bold; font-style: italic; }
p { padding: 5px 10px 10px 10px; font-size: 1.3rem; font-weight: lighter; }
#page-wrap { width: calc(80% - 200px); margin: 0px auto; padding: 60px; }

.lista { width: 80%; margin: 10px; }
.lista li { margin: 0 0 5px 0; font-size: 1.3rem; font-weight: lighter; list-style-type: none; }
.lista li:before { content: "\f121"; left: -3px; font-family: FontAwesome; position: relative; }

blockquote { width: 70%; margin: 10px; font-size: 1.3rem; }

code { padding: 0; font-size: 1.2rem; font-style: normal; }
pre { width: 70%; margin: 10px auto; padding: 15px; font-size: 1.2rem; color: #333; background-color: #eee; border: 1px solid #ddd; border-left-width: 5px; overflow-x: auto; }

.table { width: 100%!important; margin: 0!important; border-collapse: collapse; }
.table th { font-size: 0.9rem!important; text-align: center; }
.table th td { cursor: move; }
.table td { font-size: 0.8rem!important; color: #000!important; text-align: center!important; vertical-align: middle!important; }

.novo td { background: #dec36a!important; }
.novo:hover td,
.novo:hover td:first-child { background: #D9D9D9!important; color: #000!important; }
.novo td:first-child { background: #aa6d22!important; }

.descontinuado td { background: #d56868!important; }
.descontinuado:hover td,
.descontinuado:hover td:first-child { background: #D9D9D9!important; color: #000!important; }
.descontinuado td:first-child { background: #cd2525!important; }

.obsoleto td { background: #625d5d!important; }
.obsoleto:hover td,
.obsoleto:hover td:first-child { background: #D9D9D9!important; color: #000!important; }
.obsoleto td:first-child { background: #625d5d!important; }

.alert { width: calc(100% - 20px); margin: 10px 0; padding: 10px; position: relative; float: left; }
.alert span { width: auto; height: 20px; margin: 0 10px 0 0; padding: 5px 10px; font-size: 1rem; font-weight: bold; position: relative; float: left; }
.span-novo { color: #aa6d22; border: 1px solid #aa6d22; background: #dec36a; }
.span-descontinuado { color: #e2dada; border: 1px solid #e2dada; background: #d56868; }
.span-obsoleto { color: #D9D9D9; border: 1px solid #D9D9D9; background: #625d5d; }

.container-table { width: 100%; margin: 10px 0; position: relative; float: left; }
.tablesorter-header.tablesorter-reorder-helper { cursor: move; }
.tablesorter-reorder-helper-bar { width: 1px; background: #000; }

/* SELECIONAR COLUNAS */
#columnSelector.horizontal label { display: block; /* block; vertical */ }
.columnSelectorWrapper { margin: 20px 10px; position: relative; z-index: 300; }
.columnSelector, .hidden { display: none; }
.columnSelectorButton { padding: 5px 10px; font-size: 0.8rem; text-transform: uppercase; color: #000; background: #999; border: #000 1px solid; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; cursor: pointer; }
/* this won't work in IE8 & older */
#colSelect1:checked + label { background: #5797d7; border-color: #555; }
#colSelect1:checked ~ #columnSelector { display: block; }
.columnSelector { padding: 10px; top: 30px; background: #fff; border: #000 1px solid; position: absolute; }
.columnSelector label { font-size: 0.8rem; display: block; }
.columnSelector label:nth-child(1) { border-bottom: #000 solid 1px; margin-bottom: 5px; }
.columnSelector .disabled { color: #ddd; }

/* @begin POPOVER */
.info { width: 80px; cursor: default; display: inline-block; position: relative; }
.info .popover { width: 90px; padding: 7px 10px; left: -3px; top: 40px; font-size: 12px; color: #fff; background-color: rgba(0, 0, 0, 0.85); border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); display: none; position: absolute; z-index: 4; }
.info .popover:before { content: ''; margin-left: -7px; left: 50%; top: -7px; border-bottom: 7px solid rgba(0, 0, 0, 0.85); border-right: 7px solid transparent; border-left: 7px solid transparent; display: block; position: absolute; }
.info:hover .popover { -webkit-animation: fade-in .3s linear 1, move-down .3s linear 1; -moz-animation: fade-in .3s linear 1, move-down .3s linear 1; -ms-animation: fade-in .3s linear 1, move-down .3s linear 1; display: block; }
@-webkit-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }

@-webkit-keyframes move-down { from { top: 55px; } to { top: 40px; } }
@-moz-keyframes move-down { from { top: 55px; } to { top: 40px; } }
@-ms-keyframes move-down { from { top: 55px; } to { top: 40px; } }
/* @end POPOVER */

@media only screen and (max-width: 992px), (min-device-width: 768px) and (max-device-width: 1024px), print {
    #page-wrap { width: calc(90% - 40px); margin: 5px auto; padding: 20px; }
    .alert span { width: 90%; margin: 5px 10px; text-align: center; }
    .alert span:first-child { text-align: left; }
    pre { width: 70%; }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { display: block; }
    .table { width: calc(100% - 20px)!important; margin: 10px!important; border: 0; }
    /* Hide table headers (but not display: none;, for accessibility) */
    .table thead tr { top: -9999px; left: -9999px; position: absolute; }
    .table tr { border: 1px solid #000!important; }
    .table tr:nth-of-type(odd) { background: #eee; }
    /* Behave  like a "row" */
    .table td { padding: 1% 0 1% 50%!important; font-size: 1.2rem!important; border: none!important; border-bottom: 1px solid #000!important; position: relative; }
    /* Now like a table header --- Top/left values mimic padding */
    .table td:before { width: 45%; padding-right: 10px; top: 6px; left: 6px; font-size: 1.2rem!important; white-space: nowrap; position: absolute; }
    .table td:first-child { padding-left: 0!important; font-weight: bold; text-align: center; color: #FFF!important; background: #625d5d; }

    .novo td:first-child { background: #aa6d22; }
    .descontinuado td:first-child { background: #cd2525; }
    /* Label the data */
    .table td:nth-of-type(1):before { content: ""; width: 0; }
    .table td:nth-of-type(2):before { content: "Resolution"; }
    .table td:nth-of-type(3):before { content: "Density"; }
    .table td:nth-of-type(4):before { content: "Screen Size"; }
    .table td:nth-of-type(5):before { content: "PPI"; }
    .table td:nth-of-type(6):before { content: "DPI"; }
    .table td:nth-of-type(7):before { content: "CSS Pixel Ratio"; }
    .table td:nth-of-type(8):before { content: "CSS Width"; }
    .table td:nth-of-type(9):before { content: "Aspect Ratio"; }
    .table td:nth-of-type(10):before { content: "Graphics Array"; }
    .table td:nth-of-type(11):before { content: "First OS"; }
    .table td:nth-of-type(12):before { content: "Last OS"; }
    .table td:nth-of-type(13):before { content: "Release"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width : 480px) {
    body { width: 100%; margin: 0; padding: 0; position: relative; }
    .table { border: 1px solid #000!important; }
    pre { width: calc(90% - 50px); }

    blockquote { width: calc(90% - 20px); margin: 10px; }
    cite { word-break: break-all; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { width: 100%; }
}

@media only screen and (min-resolution: 2dppx), (min-resolution: 320dpi), (-webkit-device-pixel-ratio: 2) {
    pre { font-size: 2rem; }
    .alert span { height: auto; font-size: 2rem!important; }
    .table { width: calc(98% - 40px)!important; }
    .table td { font-size: 1rem!important; }
    .table td:before { font-size: 2.4rem!important; }
}

@media print {
    #page-wrap { width: calc(90% - 40px); margin: 25px auto; padding: 20px; }
    .table { width: 80%!important; margin: 45px auto 25px auto!important; border: 0; }
    .table tr, .table th { margin: 20px 0 0 0; border: 1px solid #000; }
}
